input, textarea {
  text-align: center;
}

.full-width-form {
  width: 75%;
  display: block;
}

.full-width-form button {
  margin-top: 0.875em;
  padding: .75em;
  border-radius: 0.75em;
  font-size: 1.125em;
}

.full-width-form input:not([type="checkbox"]):not([type="radio"]),
.full-width-form select,
.full-width-form textarea {
  width: 100%;
  max-width: 100%;
  display: block;
  margin: .25em 0 1em !important;
  padding: 0 !important;
  height: 2.5em;
  color: #FFF !important;
  border-color: #FFF;
  background: var(--gradient-dark);
  border-width: 0.0625em;
}

.full-width-form textarea {
  resize: vertical;
  height: 4.9em;
  padding: 0.125em !important;
}

input[type="checkbox"] {
  width: 1em;
  height: 1em;
  accent-color: green !important;
}

div.h-captcha iframe {
  transform: scale(1.625);
  height: 18em;
  border-width: 0.05em !important;
  position: relative;
  transform-origin: center;
}

div.h-captcha {
  padding-top: 2em;
  padding-bottom: 1em;
}

label {
  user-select: none;
  text-shadow: var(--shadow-text);
}
