@import url("./defaults/global-variables.css");
@import url("./defaults/keyframes.css");
@import url("./defaults/styles.css");
@import url("./defaults/footer.css");
@import url("./defaults/viewport.css");
@import url("./defaults/fonts.css");