:root {
  /* Base settings */
  --base-dpi: 1px;
  --base-font-size: 24rem;
  --base-font: "Brisa Sans", Helvetica, Arial, sans-serif;
  --base-text-hex: #FFF;
  --base-bg: #37323E;
  --base-border-size: .125em;
  --base-spacing: .25em;
  --topnav-bg: rgba(55, 50, 62, .375);

  /* Reusable shadows */
  --shadow-text: rgba(55, 50, 62, 0.9) 0 .2em .15em,
                 rgba(55, 50, 62, 0.7) 0 .4em .65em,
                 rgba(55, 50, 62, 0.7) 0 .9em 1.15em;
  --shadow-drop: drop-shadow(0 .2em .15em rgba(55, 50, 62, 0.9))
                 drop-shadow(0 .4em .65em rgba(55, 50, 62, 0.7))
                 drop-shadow(0 .9em 1.15em rgba(55, 50, 62, 0.7));
  --shadow-neumorphic: inset 0 -.958em 1.041em rgba(31, 38, 135, 0.2),
                       inset 0 -1.5em 1.25em rgba(31, 38, 135, 0.15),
                       inset 0 -3.291em 1.666em rgba(31, 38, 135, 0.1),
                       0 .2em .5em 0 rgba(31, 38, 135, 0.57),
                       .2em 0 .5em 0 rgba(31, 38, 135, 0.57),
                       -.2em 0 .5em 0 rgba(31, 38, 135, 0.57);
  --shadow-outer: 0 .2em .5em rgba(31, 38, 135, 0.57),
                  .2em 0 .5em rgba(31, 38, 135, 0.57),
                  -.2em 0 .5em rgba(31, 38, 135, 0.57);

  /* Reusable gradients */
  --gradient-dark: linear-gradient(145deg, #4c4c4c, #232323);
  --gradient-dark-alpha: linear-gradient(145deg, rgba(76, 76, 76, 0.75), rgba(35, 35, 35, 0.75));

  /* Reusable borders */
  --border-accent: solid #405465 .125em;
}