/* === BASE STYLES (Mobile first) === */
div.footer-copyright,
div.wrapper.topnav div h2 {
  display: none !important;
  visibility: hidden !important;
}

div.wrapper.topnav div h2 {
  touch-action: none !important;
}

div.container {
  font-size: 24rem !important;
}

/* === SETTINGS MENU POSITIONING === */
@media screen and (max-height: 650px) {
  .settings-menu {
    top: 100% !important;
    bottom: auto !important;
    margin-top: 0.625em !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (min-height: 651px) {
  .settings-menu {
    top: auto !important;
    bottom: 100% !important;
    margin-top: 0 !important;
    margin-bottom: 0.625em !important;
  }
}

/* === SMALL SCREENS (Condensed typography) === */
@media screen and (min-width: 405px) and (max-height: 870px) {
  div.h-captcha iframe {
    transform: scale(1.625) !important;
  }

  h1, h2, h3, h4, h5, h6, nav, header, footer, button, aside, figcaption, small {
    font-stretch: condensed;
  }

  h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.01em;
  }

  nav, header, footer, button {
    font-weight: 500;
  }

  aside, figcaption, small {
    font-weight: 400;
    font-style: normal;
  }

  p, article, section {
    line-height: 1.4;
  }

  blockquote {
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
  }
}

/* === MEDIUM SCREENS === */
@media screen and (min-width: 772px) and (max-height: 1152px) {
  div.h-captcha iframe {
    transform: scale(2) !important;
  }

  div.footer-copyright,
  div.wrapper.topnav div h2 {
    display: inline !important;
    visibility: visible !important;
    opacity: 1;
  }

  div.wrapper.topnav div h2 {
    touch-action: auto !important;
    font-size: 1.125em !important;
  }

  div.wrapper.topnav div svg {
    height: 87.5% !important;
  }

  div.container {
    font-size: 36rem !important;
  }

  h1 {
    font-weight: 900;
    font-stretch: normal;
  }

  h2, h3 {
    font-stretch: normal;
  }

  nav, header {
    font-stretch: normal;
    font-weight: 500;
  }

  aside, blockquote {
    font-weight: 300;
    font-style: italic;
  }
}

/* === LARGE SCREENS === */
@media screen and (min-width: 992px) and (min-height: 805px) {
  div.h-captcha iframe {
    transform: scale(2) !important;
  }

  div.footer-copyright,
  div.wrapper.topnav div h2 {
    display: inline !important;
    visibility: visible !important;
    opacity: 1;
  }

  div.wrapper.topnav div h2 {
    touch-action: auto !important;
    font-size: .75em !important;
  }

  div.container {
    font-size: 36rem !important;
  }

  h1 {
    font-weight: 900;
    letter-spacing: -0.03em;
  }

  h2 {
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  h3 {
    font-weight: 700;
    font-stretch: normal;
    letter-spacing: -0.01em;
  }

  aside, blockquote, figcaption {
    font-weight: 300;
    font-style: italic;
    line-height: 1.6;
  }

  small, cite {
    font-weight: 300;
    font-stretch: normal;
  }
}

/* === EXTRA LARGE SCREENS === */
@media screen and (min-width: 992px) and (max-width: 1390px) and (min-height: 826px) {
  div.h-captcha iframe {
    transform: scale(1.75) !important;
  }

  div.footer-copyright,
  div.wrapper.topnav div h2 {
    display: inline !important;
    visibility: visible !important;
    opacity: 1;
  }

  div.wrapper.topnav div h2 {
    touch-action: auto !important;
    font-size: 1em !important;
  }

  div.container {
    font-size: 48rem !important;
  }

  h1 {
    font-weight: 900;
    letter-spacing: -0.04em;
    line-height: 1.0;
  }

  h2, h3 {
    font-stretch: normal;
    line-height: 1.2;
  }

  p, article, li {
    line-height: 1.7;
    font-weight: 400;
  }

  aside, blockquote {
    font-weight: 300;
    font-style: italic;
    line-height: 1.8;
    letter-spacing: 0.02em;
  }

  figcaption, cite, small {
    font-weight: 300;
    font-stretch: normal;
    letter-spacing: 0.01em;
  }
}

/* === EXTRA EXTRA LARGE SCREENS === */
@media screen and (min-width: 1930px) and (min-height: 1114px) {
  div.h-captcha iframe {
    transform: scale(2) !important;
  }

  div.footer-copyright,
  div.wrapper.topnav div h2 {
    display: inline !important;
    visibility: visible !important;
    opacity: 1;
  }

  div.wrapper.topnav div h2 {
    touch-action: auto !important;
    font-size: 1em !important;
  }

  div.container {
    font-size: 60rem !important;
  }

  h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    line-height: 0.95;
  }

  h2 {
    font-weight: 700;
    letter-spacing: -0.03em;
    line-height: 1.1;
  }

  h3, h4 {
    font-weight: 700;
    font-stretch: normal;
    letter-spacing: -0.02em;
  }

  p, article, li, blockquote {
    line-height: 1.8;
    letter-spacing: 0.01em;
  }

  aside, figcaption {
    font-weight: 300;
    font-style: italic;
    line-height: 1.9;
    letter-spacing: 0.02em;
  }

  nav, header, footer {
    font-weight: 500;
    font-stretch: normal;
    letter-spacing: 0.02em;
  }

  small, cite {
    font-weight: 300;
    font-stretch: normal;
    letter-spacing: 0.02em;
  }
}

/* === TALL NARROW SCREENS === */
@media screen and (min-height: 870px) and (max-width: 992px) {
  div.h-captcha iframe {
    transform: scale(1.5) !important;
  }

  div.footer-copyright {
    display: inline !important;
    visibility: visible !important;
    opacity: 1;
  }

  div.wrapper.topnav div svg {
    height: 62.5% !important;
  }

  div.container {
    font-size: 36rem !important;
  }
}

/* === WIDE SHORT SCREENS === */
@media screen and (min-width: 1391px) and (max-height: 1114px) and (min-height: 805px) {
  div.h-captcha iframe {
    transform: scale(2.375) !important;
  }

  div.footer-copyright,
  div.wrapper.topnav div h2 {
    display: inline !important;
    visibility: visible !important;
    opacity: 1;
  }

  div.wrapper.topnav div svg {
    height: 100% !important;
  }

  div.wrapper.topnav div h2 {
    touch-action: auto !important;
    font-size: 1.5em !important;
  }

  div.container {
    font-size: 48rem !important;
  }
}

/* === ACCESSIBILITY === */
@media (prefers-contrast: high) {
  * {
    font-weight: 500;
  }

  h1, h2, h3, strong, b, legend, th, output {
    font-weight: 900;
  }

  small, figcaption, cite, footer, sub, sup, samp, tfoot, del, s, rt, rp {
    font-weight: 400;
  }
}

@media (prefers-reduced-motion: reduce) {
  a, button, h1, h2, h3, nav a {
    transition: none;
  }
}
